li{
    margin-bottom: 10px;
}
.lessons_img{
    width: 40%;

}

.text_image_right{
    float: right;
    margin: 20px 0px 0px 20px;

}
.text_image_left{
    float: left;
    /* margin: 10px; */
}

.interestBox {
    background: #e0e0e0;
    box-shadow: 5px 5px 8px #949393;
    /* -8px -8px 16px #ebebeb; */
    padding: 20px;
    border-radius: 12px;
    margin: 25px 0;
  }
  
  .interestHeader {
    display: flex;
    padding-bottom: 10px;
  }
  
  .interestHeader h5 {
    margin: 0;
    padding: 2px 0 0 5px;
  }
  
  .textIcon {
    width: 30px;
    height: 30px;
    fill: rgb(12, 136, 185);
  }